<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <!-- Our CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>
<div id="header">
    <h1>Veoneer Production Dashboard</h1>
</div>

<body>
<div class="my-container">

    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h4>RDR6 Production</h4>
            </div>
        </div>
        <p><a class="btn btn-success btn-default" href="/Get_RDR6_Data" role="button">Get Data</a></p>
        <div class="col-lg-12">
            <div class="panel panel-primary diagram-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Select Input</h3>
                </div>
                <div class="panel-body1">
                    <div class="col-lg-4">
                        <label class="dropdown-label">Player 1</label>
                        <select class="form-control dropdown-options" id="dropDownList_1" onchange="typeOptionChange_1(this.value)">
                            <option value="" disabled selected hidden>Please Select Player 1</option>
                        </select><br><br>
                    </div>
                    <div class="col-lg-4">
                        <label class="dropdown-label">Player 2</label>
                        <select class="form-control dropdown-options" id="dropDownList_2" onchange="typeOptionChange_2(this.value)">
                            <option value="" disabled selected hidden>Please Select Player 2</option>
                        </select><br><br>
                    </div>
                    <div class="col-lg-4">
                        <label class="dropdown-label">Player 3</label>
                        <select class="form-control dropdown-options" id="dropDownList_3" onchange="typeOptionChange_3(this.value)">
                            <option value="" disabled selected hidden>Please Select Player 3</option>
                        </select><br><br>
                    </div>


                    <!-- <button type="confirmButton" onclick="buttonClicked()">Confirm</button> -->
                </div>
            </div>
        </div>

    </div>


    <div class="row">
    
        <div class="col-lg-6">
            <div class="panel panel-primary diagram-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Radar Graph</h3>
                </div>
                <div class="panel-body2">
                    <div id="Data_Plot"></div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary diagram-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Bar Graph</h3>
                </div>
                <div class="panel-body2">
                    <div id="Bar_Plot"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/js/data.js"></script>
    <script type="text/javascript" src="static/js/logic.js"></script>
</div>
</body>